<!DOCTYPE html>
<html>

    <head>
    {% block head %}
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/regular.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
        <link rel="stylesheet" href="/css/main.css">

        <title>{% block title %}Untitled{% endblock %} - 20XXBot</title>

        {% block head_extra %}
        {% endblock %}
    {% endblock %}
    </head>

    <body>
    {% block body %}
        <nav class="navigation">
            <section class="container">
                <a class="title" href="/">
                    <b>20XX</b>Bot
                </a>
            </section>
        </nav>
        {% block content %}

        {% endblock %}
    {% endblock %}
    </body>
</html>
