/* Navigation bar */

nav.navigation{
    height: 5.2rem;
    background-color: rgb(244, 245, 246);
}

nav.navigation > .container{
    max-width: 80rem;
    margin: 0 auto;
}

.navigation > .container > .title{
    line-height: 5.2rem;
    height: 2rem;
}

/* Media tags */

/* Larger than mobile screen */
@media (min-width: 40.0rem){
    .container{
        max-width: 80rem;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem){
    /**/
}

/* Larger than desktop screen */
@media (min-width: 120.0rem){
    /**/
}