{% extends "extend/base.twig" %}

{% block title %}Home{% endblock %}

{% block head_extra %}
<style>
header.home{
    background-color: rgb(244, 245, 246);
}

.home > .container{
    text-align: center;
    padding: 7.5rem 2.0rem;
}

.home > .container > .feature-container{
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.home > .container > .feature-container > .row > .column > i{
    font-size: 6rem;
    padding-bottom: 2rem;
}
.home > .container > .feature-container > .row > .column > h3{
    margin-bottom: 1rem;
}
.home > .container > .feature-container > .row > .column > p{
    padding-bottom: 2rem;
}
</style>
{% endblock %}

{% block content %}
<header class="home">
    <div class="container">
        <h1><b>20XX</b>Bot</h1>
        <p class="description">
            <i>The year is 20XX...</i>
        </p>
        <div class="container feature-container">
            <div class="row">
                <div class="column">
                    <i class="fas fa-code-branch"></i><br/>
                    <h3>Open Source</h3>
                </div>
                <div class="column">
                    <i class="fas fa-bolt"></i><br/>
                    <h3>Fast</h3>
                </div>
                <div class="column">
                    <i class="fas fa-lock"></i><br/>
                    <h3>Secure</h3>
                </div>
            </div>
        </div>
        <a class="button" href="https://t.me/{{ me.username }}">Start chatting</a>
    </div>
</header>
{% endblock %}